body{
    background-color: #000;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    text-align: center;
}

.grid {
	width: 675px;
	height: 675px;
	background-color: black;
	border-radius: 5px;
	margin-left: 350px;
	display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-self: center;
}
.grid div {
	width: 45px;
	height: 45px;
}

.invader {
    background: url(images/alien.png) no-repeat;
    background-position: center;
    background-size: contain;
}

.shooter {
    background: url(images/tireur.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 10px;
}

.laser {
	background: url(images/piou.png) no-repeat;
    background-position: center;
    background-size: contain;
}

.boom {
	background: url(images/explo.png) no-repeat;
    background-position: center;
    background-size: contain;
}


