@import url('https://fonts.cdnfonts.com/css/arcade-classic');
body{
    background: url(images/fond-spatial.jpeg) ;
    color: #fff;
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.grid {
	width: 675px;
	height: 675px;
	background-color: black;
	border-radius: 5px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-self: center;
}
.grid div {
	width: 45px;
	height: 45px;
}

.invader {
    background: url(images/ennemies.png) no-repeat;
    background-position: center;
    background-size: contain;
}

.shooter {
    background: url(images/vaisseau.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 10px;
}

.laser {
	background: url(images/piou.png) no-repeat;
    background-position: center;
    background-size: contain;
}

.boom {
	background: url(images/explo.png) no-repeat;
    background-position: center;
    background-size: contain;
}
.start-button {
    display: flex;
    border-radius: 3px;
    margin-top: -80px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
    background-color: white;
    border-style: none;
}
.reset-button {
    display: flex;
    border-radius: 3px;
    margin-top: 10px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
    background-color: white;
    border-style: none;
}

