body{
    margin: auto;
}

h3{
    text-align: center;
}

#grille{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 450px;
    height: 450px;
}

#grille div{
    width: 30px;
    height: 30px;
    box-shadow: 1px 1px black;
}

.tireur {
    background: url(images/vaisseau.png);
    transform: rotate(180deg);
    background-position: center;
    background-size: contain;
}

.alien {
    background: url(images/ennemies.png) no-repeat;
    background-position: center;
    background-size: contain;
}